body
{

  background: rgb(19,19,19);
  background: linear-gradient(176deg, rgba(19,19,19,1) 0%, rgba(204,200,197,1) 100%);  
}

#title{
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 30px;
  color: white;
}

 .row{
  height: 800px;
  padding : 30px;
  margin : auto;
  justify-content: center;

} 


.colCard{
  height: 180px;
  border-radius: 20%;
  margin-left : auto;
  margin-right : 15px;
  margin-bottom: 15px;
  background-color: rgb(109, 105, 105);
  font-size: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 6px 4px 13px 1px rgba(0,0,0,0.6); 
  box-shadow: 6px 4px 13px 1px rgba(0,0,0,0.6);

}

.colCard:hover{
  border: 2px solid white;
  background-color: rgb(148, 145, 145);
  transition: all 200ms ease-in;
  
}

.cardBack
  {
    height: 180px;
    border-radius: 20%;
    margin-left : auto;
    margin-right : 15px;
    margin-bottom: 15px;
    background-color: rgb(25, 118, 180);
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    -webkit-box-shadow: 6px 4px 13px 1px rgba(0,0,0,0.6); 
    box-shadow: 6px 4px 13px 1px rgba(0,0,0,0.6);

}


.cardSuccess{
  height: 180px;
  border-radius: 20%;
  margin-left : auto;
  margin-right : 15px;
  margin-bottom: 15px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 6px 4px 13px 1px rgba(0,0,0,0.6); 
  box-shadow: 6px 4px 13px 1px rgba(0,0,0,0.6);
  background-color: green;
  border: 2px solid rgb(121, 228, 94);
}

.button{

  margin: auto; 
  margin-top : 20px;
  width : 200px;
  align-items: center;
  justify-content: center;
  text-align: center
}

p{
  font-size: 20px;
  color: white;
}